table { /* table 스타일 */
  width: 100%;
  border-collapse: separate;
  text-align: center;
  line-height: 1.5;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-spacing: 1px;
  margin: 20px 10px;
}
thead { /* 제목 부분 */
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  background-color: lightblue;
  margin: 20px 10px;
}
th {
  width: 100px;
  padding: 10px;
}
td {
  width: 400px;
  padding: 10px;
}
tr { /* 애니메이션 효과 */
  transition: 1s;
}
tbody tr:nth-child(even) { /* 짝수 <tr>에 적용*/
  background: rgb(243, 243, 243);
}
tbody tr:hover { /* 마우스가 올라오면 pink 배경 */
  background: lightblue;
}

h3 {
  float: left;
  margin: 10px;
}

input { /* 처음으로 돌아가기 버튼 */
  float: right;
  border-radius: 10px;
  border: 0;
  outline: 0;
  background-color: lightblue;
  padding: 10px;
}